<div class= "container">
  <h1> Fundamentos de angular</h1>
  <div>
    <h4>Interpolacion</h4>
    <p>Nombre del maestro: {{nombre}}</p>
    <p>Años de servicio: {{aniosServicio}}</p>
    <p>Correo: {{email}}</p>
    <p>Uno + Uno = {{1 + 1}}</p>
    <p>{{estaActivo()}}</p>
    <p>Total de alumnos: {{sumarAlumnos()}}</p>
  </div>


  <div>
    <h4>Setencia if</h4>
    <p>Años de servicio</p>
    @if(aniosServicio >=20){
      <p>Tiene mucha antiguedad</p>
    } @else {
      <p>No tiene mucha antiguedad</p>
    }
  </div>

  <p></p>


  <div>
    <h4>Setencia for</h4>
    <h4>Listado de productos</h4>
    <table>
      @for (producto of productos; track producto.id) {
        <tr>
          <td>{{producto.id}}</td>
          <td>{{producto.descripcion}}</td>
          <td>{{producto.precio}}</td>
        </tr>
      }
    </table>
  </div>

  <p></p>

  <div>
    <h4>Setencia Switch</h4>
    @switch (numero) {
      @case (1) {
        <p>UNO</p>
      }
      @case (2) {
        <p>DOS</p>
      }
      @case (3) {
        <p>TRES</p>
      }
      @default {
        <p>Es un numero diferente</p>
      }
    }
  </div>

  <p></p>
  <div>
    <h4>Captura de eventos</h4>
    <h5>{{contador}}</h5>

    <button type="button" class="btn btn-primary" (click)="incrementarContador()">Sumar 1</button>
    <button type="button" class="btn btn-warning" (click)="decrementarContador()">resta 1</button>
  </div>


  <p></p>
  <div>
    <h4>Property binding</h4>
    <button type="button" [disabled]="desactivarBoton">
      Guardar
    </button>
    
    <p></p>

    <button type="button" (click)="cambiarValor()">
      Habilitar boton
    </button>
  </div>

</div>